body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome-bg{
  background-image: 
    url('./homepage.jpg');
  background-size:cover;
  color: white;
  display: flex;
  justify-content: center;
  height:60vh;
  flex-direction: column;
}
.welcome-container{
  text-align: center;
}

.welcome-container button{
  background-color: white;
  color: yellowgreen;
  padding: 1em 5em;
  border-radius: 2em;
  margin:10px;
  border: 0.2em solid white;
  transition-duration: 0.2s;
}

.welcome-container button:hover{
  background-color: transparent;
  color: white;
}

.welcome-container button:focus{
  outline:none;
}
.home-card{
  width:30%;
  text-align: center;
}



.quizzes-container {
 max-width: 500px;
  margin:auto;
  padding: 1rem;
}
  .quiz-item {
      border-bottom: 1px solid #fff;
      transition: 0.2s;
      padding:0.5rem
  }
.quiz-item:hover{
  box-shadow: 0px 0px 5px #888;
  cursor: pointer;
}

      
  
.question-wrapper {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .question-number {
      color: #ccc;
      margin-left: 15px;
  }

  .buttons {
    text-align: center;
  }
   .buttons button {
        background-color: #ff8000;
        padding: 8px 15px;
        font-weight: bold;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 20px 5px;
        cursor: pointer;

        
    
}
.buttons button:hover{

    opacity: 0.85;

}

.answer {
  padding: 10px 5px;
  transition: 0.2s;
}
.answer:hover{
  cursor: pointer;
  background-color: #eee;

}
  .selected-letter {
      background-color: #ff8000;
      padding:15px;
      color:white;
  }

